
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,200;1,300;1,900&family=Roboto:ital,wght@0,300;1,100&display=swap');

.apresentacao__principal {
    background-color: silver;
}

.apresentacao__beneficios {
    background: #FFFFFF;
    padding: 20px;
}

#banner {
    width: 100%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

strong em {
    color: red
}

#missao {
    font-size: 20px;
}

.apresentacao__beneficios {
    background-color: white;
}

.item {
    font-style: italic;
}

#banner2 {
    width: 50%;
}

ul {
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.apresentacao__beneficios {
    background: white;
    padding: 20px;
}

h2 {
    text-align: center;
}

body{
    background-color: silver;
    font-family: 'Montserrat', sans-serif;
}

