.apresentacao__principal {
    background-color: silver;
}

#banner {
    width: 100%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

strong em {
    color: red
}

#missao {
    font-size: 20px;
}

.apresentacao__beneficios {
    background-color: white;
}

.item {
    font-style: italic;
}

#banner2 {
    width: 50%;
}
